@import "src/App";

@mixin btnBorder($color) {
  border: 2px solid $color;
}

@mixin btnOutlined {
  &.outlined {
    fill: none;
    background: transparent;
    @include btnBorder($color-primary);
    color: $color-primary;
  }
}

.btnLarge {
  cursor: pointer;
  border: none;
  color: white;
  background: $color-primary;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  padding: 10px 36px;
  box-shadow: $box-shadow-2;
  opacity: 0.8;
  transition-duration: $fast-transition;
  border-radius: 8px;

  &:hover {
    box-shadow: $box-shadow-1;
    opacity: 1.0;
  }

  @include mobile {
    font-size: 20px;
    padding: 8px 28px;
  }

  @include btnOutlined;
}

.btnMedium {
  @extend .btnLarge;
  font-size: 18px;
  padding: 8px 36px;

  @include mobile {
    font-size: 16px;
    padding: 6px 28px;
  }

  @include btnOutlined;
}
