@import "src/App";

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 186px 0;

  @include mobile {
    margin: 96px 0;
  }

  h2 {
    margin: 0;
    font-size: 32px;

    @include mobile {
      font-size: 28px;
    }
  }

  .content {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    @include mobile {
      margin-top: 28px;
    }

    .img {
      flex-grow: 1;

      @include mobile {
        display: none;
      }
    }

    .desc {
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  .bg {
    background-color: $gray-5;
    z-index: $depth-2;
    position: absolute;
    top: -20%;
    left: -50%;
    height: 500px;
    width: 200vw;
    transform: rotate(5deg);
    box-shadow: $box-shadow-2;

    @include mobile {
      height: 400px;
    }
  }
}
