@import "src/App";

header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 24px 96px;

  .logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 28px;

    h1 {
      font-size: 42px;
      color: white;
      text-transform: uppercase;
    }

    img {
      position: absolute;
      z-index: $depth-3;
      left: -300px;
      top: -450px;
    }
  }

  nav {
    margin-right: 64px;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 36px;

      li {
        display: inline;

        h1 {
          font-size: 24px;
          text-transform: uppercase;
          display: inline;
          margin: 0;
        }
      }
    }
  }
}
