@import "src/App";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 0;

  .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      margin: 0;
      font-size: 32px;

      @include mobile {
        font-size: 28px;
      }
    }

    p {
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    margin-top: 32px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 18px;

      @include mobile {
        flex-direction: row;
        max-width: 90%;
      }

      .body {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @include mobile {
          flex-basis: 75%;
        }

        .cardContent {
          h3 {
            margin: 0 0 8px;
            font-size: 24px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  img {
    position: absolute;
    z-index: $depth-3;
    left: -1700px;
    bottom: -1500px;
    transform: scale(0.75, 0.75);
  }
}
