@import "src/App";

.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 32px;
  box-shadow: $box-shadow-2;
  width: 500px;
  margin: 0 auto;

  @include mobile {
    width: 80%;
    padding: 24px;
  }

  .header {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        font-size: 36px;
        color: $color-primary;

        @include mobile {
          font-size: 28px;
        }
      }

      .btn {
        cursor: pointer;
      }
    }

    p {
      margin: 8px 0 0;
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }

      span {
        font-size: 42px;

        @include mobile {
          font-size: 36px;
        }
      }
    }
  }

  .cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .item {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
